@charset "UTF-8";

html {
    height: 100%;
    font-size: 100%;
}

body {
    font: 16px/20px "Open Sans";
    width: 100%;
    height: 100%;
    color: #242423;
    background: #ede9e1;
}

a {
    color: #242423;
}

a:hover, a:active, a:focus {
    color: #934A0E;
    text-decoration: none;
}

:focus {
    outline: none;
}
.relative{
    position: relative;
}
/*header container -> all top menu*/
.h-nav {
    float: left;
    padding: 10px 0;
}

.h-nav a {
    margin-right: 40px;
    font-size: 16px;
}

.h-nav a.active {
    font-weight: 800;
    color: #81533A;
}

/*icons in header-top menu*/
.h-nav a span {
    margin-right: 5px;
}

.h-nav a:last-child {
    margin-right: 0;
}

/*header container -> top left menu*/
.h-nav-tabs {
    padding: 10px 25px 10px 10px;
}

.h-nav-tabs a {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.h-nav > .btn-group > a{
    cursor: pointer;
}
.h-nav > .btn-group.open .dropdown-toggle{
    box-shadow: none;

}
.h-nav-menu {
    margin-top: 10px;
}
/*header container -> top center menu*/
/*straight lines in top menus*/
.h-nav-center {
    padding: 10px 30px;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #d0c8c4;
}

/*logo style*/
.header-bottom {
    background-color: #FFF;
    padding: 40px 0 25px;
    border-top: 1px solid #d0c8c4;
}

/*Search bar*/
#h-searh {
    position: relative;
    max-width: 525px;
    margin-top: 10px;
}

/*search field*/
#h-searh input[type="text"] {
    height: 45px;
    width: 100%;
    padding: 0 50px 0 20px;
    font-size: 14px;
    color: #d0c8c4;
    border: 2px solid #d0c8c4;
    border-radius: 15px;
}

/*search icon*/
#h-searh input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 100%;
    border: none;
    background: transparent url("../img/h-search.png") no-repeat center;
}

/*CustomService style*/
.h-phone {
    margin-top: 0px;
    float: right;
}

.h-phone a {
    padding-left: 55px;
    display: block;
    background: url("../img/h-headphones.png") no-repeat left 5px;
}

.h-phone small {
    font-size: 13px;
    color: #934A0E;
}

.h-phone span {
    display: block;
    font-size: 20px;
    font-weight: 800;
    color: #795743;
}

/*Main Menu*/
.panel {
    background: #242423;
    padding: 5px 0;
    border-radius: 0;
}

.panel .btn {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    text-transform: capitalize;
    /*border: 1px solid white;*/
}

.panel .btn:hover {
    color: #BD661C;
}

.glyphicon {
    margin-right: 10px !important;
}

.caret {
    margin-left: 5px !important;
}

/*Category menu button*/
.panel-menu-wrap {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.panel-menu-wrap > li {
    float: left;
}

.sp {

    border-left: 1px solid #d0c8c4;
    border-radius: unset;
}

.panel-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 178px;

}

/*Content*/

.product-wrap {
    border: 1px solid #d0c8c4;
    background: #FFF;
    border-radius: 10px;
}

.product {
    height: 400px;
    padding: 20px 20px 25px;
    border-right: 1px solid #d0c8c4;
    border-bottom: 1px solid #d0c8c4;
}

.product:nth-child(3n) {
    border-right: none;
}

.product:nth-last-child(1),
.product:nth-last-child(2),
.product:nth-last-child(3) {
    border-bottom: none;
}

.product-img {
    position: relative;
    text-align: center;
    height: 235px;
    border-bottom: 1px solid #d0c8c4;
    margin-bottom: 15px;

}

.product-img:hover .review {
    display: block;

}

.product-img > img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.product-footer {
    height: 100px;
}

.product-footer h5 {
    font-size: 13px;
    font-weight: 600;
    margin: 0;

}

.cat {
    display: block;
    text-align: justify;
    line-height: 12px;
    color: #333333;
    font-size: 12px;

}

.price {
    font-size: 20px;
    color: #333333;
    font-family: "Patua One";
}

.review {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin: -25px 0 0 -50px;
    width: 100px;
    padding: 25px;
    cursor: pointer;
    color: #FFF;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 8px;
    text-align: center;
}

.product .bottom-panel {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.product .bottom-panel .btn {
    border: 1px solid black;

}

/*SIDEBAR*/
.sidebr-item{
    padding: 20px;
    border-bottom: 1px solid #d0c8c4;
}


.sidebar-title {
    margin: 0 0 15px 0;
    font-weight: 900;
    color: #293237;
    text-transform: uppercase;
}

.sidebar-list,
.sidebar-list-check {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-list li {margin-bottom: 10px;}
.sidebar-list li:last-child {margin-bottom: 0;}

.sidebar-list a.active {
    color: #934A0E;
}