@charset "UTF-8";

html {
    height: 100%;
    font-size: 100%;
}

hr {
    max-width: 95%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d0c8c4;
    margin: 1em 1em;
    padding: 0;

}

body {
    font: 16px/20px "Open Sans";
    width: 100%;
    height: 100%;
    color: #242423;
    background: #ede9e1;
    margin-top: 52px;
    overflow-x: hidden;
}

a {
    color: #242423;
}

a:hover, a:active, a:focus {
    color: #934A0E;
    text-decoration: none;
}

:focus {
    outline: none;
}

.btn-dsp {
    display: none;
}

/*logo style*/
.logo {
    text-align: center;
}

.header-bottom {
    background-color: #FFF;
    padding: 0 0 25px;
}

/*Search bar*/
#h-searh {
    position: relative;
    margin-top: 10px;
}

/*search field*/
#h-searh input[type="text"] {
    height: 45px;
    width: 100%;
    padding: 0 50px 0 20px;
    font-size: 14px;
    color: #d0c8c4;
    border: 2px solid #d0c8c4;
    border-radius: 15px;
}
.tt-menu{
    width: 100%;
    padding: 10px 50px 10px 20px;
    border-radius: 15px;
    background: rgba(208,200,196,0.8);
}
.tt-selectable{
    cursor: pointer;
}
    /*search icon*/
#h-searh input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 100%;
    border: none;
    background: transparent url("../img/h-search.png") no-repeat center;
}

/*CustomService style*/
.h-phone {
    text-align: center;
    margin-top: 0;
}

.h-phone a {
    padding-left: 0;
    display: block;

}

.h-phone small {
    font-size: 13px;
    color: #934A0E;
}

.h-phone span {
    display: block;
    font-size: 20px;
    font-weight: 800;
    color: #795743;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    /*border: 1px solid #d0c8c4;*/
    /*background: #FFF;*/
    border-radius: 10px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

.main-wrapper {
    margin: 0;
    padding: 0;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {

    display: block;
    text-decoration: none;
    color: #000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #d0c8c4;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #000;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #d0c8c4;
    background: none;
}

@media (min-width: 768px) {

    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        height: 100%;
        width: 250px;
        /*border: 1px solid #d0c8c4;*/
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
        color: #d0c8c4;
        visibility: hidden;
    }

    #wrapper.toggled div.sidebr-item{
        visibility: hidden;
    }

    #wrapper.toggled ul.sidebar-list {
        visibility: hidden;
    }

    #page-content-wrapper {
        padding: 0 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*Main Menu*/
.panel {
    background: #242423;
    padding: 5px 0;
    border-radius: 0;

}

.panel .btn {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    text-transform: capitalize;
    /*border: 1px solid white;*/
}

.panel .btn:hover {
    color: #BD661C;
}
.panel .btn:hover > span:last-child{
    color: #795743;
    background-color: #BD661C;
}

.glyphicon {
    margin-right: 10px !important;
}

.caret {
    margin-left: 5px !important;
}

/*Category menu button*/
.panel-menu-wrap {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.panel-menu-wrap > li {
    float: left;
}

.sp {
    border-left: 1px solid #d0c8c4;
    border-radius: unset;
}

.panel-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 178px;

}

/*Content*/

.product-wrap {
    border: 1px solid #d0c8c4;
    background: #FFF;
    border-radius: 10px;
}

.product {
    height: 400px;
    padding: 20px 20px 25px;
    border-right: 1px solid #d0c8c4;
    border-bottom: 1px solid #d0c8c4;
}

.product:nth-child(3n) {
    border-right: none;
}

.product:nth-child(n+3) {
    color: green;
}


.product-img {
    position: relative;
    text-align: center;
    height: 235px;
    border-bottom: 1px solid #d0c8c4;
    margin-bottom: 15px;

}
.product-img-small {
    height: 185px;
    margin-bottom: 10px;
}
.product-img:hover .review {
    display: block;

}

.product-img > img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.product-footer {
    height: 100px;
    overflow: hidden;
}

.product-footer h5 {
    font-size: 13px;
    font-weight: 600;
    margin: 0;

}
.product-search{
    border: 0.5px solid #d0c8c4;
}

.cat {
    display: block;
    text-align: justify;
    line-height: 14px;
    color: #333333;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 992px) and (max-width: 1200px){
    .price > small > del{
        display: none;
    }
}




.footer-bottom-area {
    background: #000;
    color: #fff
}

.price {
    font-size: 16px;
    color: #333333;
    font-family: "Patua One";
}

.price-old {
    color: red;
}

.price-small {
    font-size: 14px;
}

.review {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin: -25px 0 0 -50px;
    width: 100px;
    padding: 25px;
    cursor: pointer;
    color: #FFF;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 8px;
    text-align: center;
}

.product .bottom-panel {
    /*display: flex;*/
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product .bottom-panel .btn {
    border: 1px solid black;

}

/*SIDEBAR*/
.sidebr-item{
    padding: 20px;
}


.sidebar-title {
    margin: 0 0 15px 0;
    font-weight: 900;
    color: #293237;
    text-transform: uppercase;
}

.sidebar-list,
.sidebar-list-check {
    margin: 0;
    padding: 0;
    list-style: none;

}
.sidebar-list li {margin-bottom: 10px;}
.sidebar-list li:last-child {margin-bottom: 0;}

.sidebar-list a.active {
    color: #934A0E;
}

/*PRODUCT DETAIL*/
.product-breadcroumb {
    margin: 20px 40px;
}

.product-breadcroumb>a {
    margin-right: 31px;
    position: relative
}

.product-breadcroumb>a::before {
    content: "/";
    position: absolute;
    right: -20px;
    top: 2px
}

.product-breadcroumb>a:last-child::before {
    display: none
}



.product-main-img {
    position: relative;
    top: 50px;
    margin-bottom: 50px;
}

div.product-main-img >img {
    width: 95%;
}

.product-gallery {
    margin-bottom: 25px;
    margin-left: -15px;
    overflow: hidden;
}

.product-gallery img {
    height: auto;
    margin-left: 15px;
    width: 76px
}

.product-name {
    font-size: 25px;
    margin-bottom: 20px
}

.product-inner-price {
    margin-bottom: 25px
}

.product-inner-price>ins {
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none
}
.product-inner-price>del{
    color: red;
}

.quantity {
    float: left;
    margin-right: 15px
}

.quantity input[type=number] {
    border: 1px solid #795743;
    padding: 5px;
    width: 50px;
    min-height: 40px;
}


.add_to_cart_button {
    background: none repeat scroll 0 0 #795743;
    border: 0;
    color: #fff;
    min-height: 40px;
    font-size: 13pt;
    padding: 6px 25px;
    display: inline-block
}

.add_to_cart_button:hover,  .add_to_cart_button:focus, .add_to_cart_button:active{
    background-color: #d0c8c4;
    color: #fff;
    text-decoration: none
}

form.cart {
    margin-bottom: 25px
}

.product-inner-category {
    margin-bottom: 30px
}

.product-tab {
    border-bottom: 1px solid #ddd;
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
    text-align: center
}

.product-tab li {
    display: inline-block
}

.product-tab li.active {
    background: none repeat scroll 0 0 #795743;
}

.product-tab li.active a,
.add_to_cart_button > a
{
    color: #fff
}

.product-tab li a {
    color: #222;
    display: block;
    font-size: 16px;
    padding: 10px 30px
}

.product-tab li a:hover {
    text-decoration: none
}

.product-tab li a:focus {
    text-decoration: none
}

.tab-content h2,
.rating-wrap-post {
    font-size: 20px
}

.tab-content {
    margin-bottom: 30px
}

.submit-review label {
    display: block
}

.submit-review input[type=text],.submit-review input[type=email],.submit-review textarea {
    margin-bottom: 20px;
    width: 100%
}

.rating-chooser {
    margin-bottom: 30px
}

.rating-chooser p {
    font-weight: 700
}


.submit-review textarea {
    height: 105px
}
.related-products-wrapper {
    margin-top: 30px
}

.related-products-title {
    margin: 50px 0 20px 30px;
    color: #feae52;
    font-size: 25px;
    text-transform: uppercase
}
.pr-related{
    height: 300px;
    border: none;
    margin: 0;
}
.product:hover, .product:focus, .product:active,
.pr-related:hover, .pr-related:focus, .pr-related:active{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}


.product-related-footer {
    height: 50px;
}

ins{
    font-size: 35px;
}
div.product-inner-price > del{
    color: #d0c8c4;
    font-size: 30px;
}
.list-group-item{
    background-color: transparent;
    border: none;
}

.variations{
    font-size: 20px;
    font-weight: 700;
    color: #333;
    padding: 10px 0 30px 0;
}
.versand_link{
    font-size: 12px;
}
.btn_wrkb{
    background-color: #795743;
    border-color: #795743;
}
.btn_wrkb:hover, .btn_wrkb:active, .btn_wrkb:focus{
    background-color: #d0c8c4;
    border-color: #d4d4d4;
}
.checkout_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    top: -12px;
    left: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fe4c50;
    font-size: 12px;
    color: #FFFFFF;
}

.chckt_def{
    background:#FFFFFF;
    color: #000000;
}

.del-item{
    cursor: pointer;
}
.twitter-typeahead{
    width: 100%;
}
